.mat-tab-group{
    padding-top: 40px;
    padding-left: 2%;
    padding-right: 2%;
}
#rows{
    padding: 2%;
}

#cards{
    margin: 0.5%;
}

.example-card {
    max-width: 400px;
    padding: 15px 1% 1% 1%;
    text-align: justify;
    margin: 2%;
}

.liveDate::after{
    content: "\a";
    white-space: pre;
}